<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h3><p role="alert">Ops! parece que você se perdeu.</p></h3>
            <p>Vamos voltar ao começo <a href="/">Home</a></p>
        </LayoutView>
    </NotFound>
</Router>
